<div class="prt_home_wrapper">
  <video autoplay muted loop id="myVideo">
    <source src="images/bg.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>

  <div class="prt_overlay"></div>

  <div class="prt_logo_wrapper">
    <a href="/">
      <img
        src="images/header/Logo-02.svg"
        alt="Logo"
        id="prt_close_tab"
        width="60px"
        height="70px"
      />
    </a>
  </div>

  <div class="prt_menu_wrapper">
    <a routerLink="/about" class="prt_bottom">About</a>
    <a routerLink="/videos" class="prt_right">Video</a>
    <a routerLink="/songs" class="prt_left">Songs</a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 id="typingEffect">Welcome to YonderMelodies!</h1>
      </div>
    </div>
  </div>
</div>
